@page
@model MegaDesk_ASP.NET_Core.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="DeskQuote.Name" class="control-label"></label>
            <input asp-for="DeskQuote.Name" class="form-control" />
            <span asp-validation-for="DeskQuote.Name" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="DeskQuote.orderedDate" class="control-label"></label>
                <input asp-for="DeskQuote.orderedDate" class="form-control" />
                <span asp-validation-for="DeskQuote.orderedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.NumberOfDrawers" class="control-label"></label>
                <input asp-for="DeskQuote.NumberOfDrawers" class="form-control" />
                <span asp-validation-for="DeskQuote.NumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.SurfaceMaterial" class="control-label"></label>
                <select asp-for="DeskQuote.SurfaceMaterial" class="form-control">
                    <option value="">Select Surface Material</option>
                    <option value="Laminate">Laminate</option>
                    <option value="Oak">Oak</option>
                   <option value="Rosewood">Rosewood</option>
                   <option value="Veneer">Veneer</option>
                   <option value="Pine">Pine</option>
                </select>
                <span asp-validation-for="DeskQuote.SurfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.RushDays" class="control-label"></label>
                <select asp-for="DeskQuote.RushDays" class="form-control" />
                <option value="">Select Rush Days</option>
                <option value="3 Days"> 3 Days</option>
                <option value="5 Days"> 5 Days</option>
                <option value="7 Days"> 7 Days</option>
                <option value="Standard 14"> Standard 14</option>
                <span asp-validation-for="DeskQuote.RushDays" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
